<div class="card">
  <div class="card-body">
    <h5 class="card-title">Educacion</h5>
    <div class="card-body item-educacion">
      <img src="../assets/icono.png" class="img-educacion" alt="">
      <div class="container">
        <h5 class="card-title">Desarrollo Web</h5>
        <p class="card-text"><small class="text-body-secondary">Casa - Jornada completa</small></p>
        <p class="card-text">tiempo de empleo</p>
      </div>
    </div>

    <div class="card-body item-educacion">
      <img src="../assets/icono.png" class="img-educacion" alt="">
      <div class="container">
        <h5 class="card-title">Desarrollo Web</h5>
        <p class="card-text"><small class="text-body-secondary">Casa - Jornada completa</small></p>
        <p class="card-text">tiempo de empleo</p>
      </div>
    </div>

    <div class="card-body item-educacion">
      <img src="../assets/icono.png" class="img-educacion" alt="">
      <div class="container">
        <h5 class="card-title">Desarrollo Web</h5>
        <p class="card-text"><small class="text-body-secondary">Casa - Jornada completa</small></p>
        <p class="card-text">tiempo de empleo</p>
      </div>
    </div>
  </div>
</div>